.banner
    //.banner__animation
    .banner__bg

        .header__nav
            .couple__logo
                a S <i class="fas fa-heart"></i> F
            ul.header__nav_bar
                li
                    a(href="#") Home
                li
                    a(href="#") Couple
                li
                    a(href="#Story") Story
                li
                    a(href="#Gallery") Gallery
        // End Banner Nav
        
        .banner__content
            p.banner__title Suntina & Famico
            p.banner__desc WE'RE GETTING MARRIED
        // End Banner content

        .banner__time
            .banner__date 
                p Save the date  
                span 25 DEC 2020
