.couple.container
    .couple__item
        .couple__img
            img(src="../images/the-groom.jpg", alt="groom")
        .couple__detail
            p.heading THE GROOM
            p.couple__desc
                | Hi I am suntina dolor sit amet consectetur adipisicing elit. Maiores, vitae?
                | Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil laborum accusantium itaque quae, nulla officiis!
                | Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum, minus!
            p.couple__sign - Suntina
    .couple__item
        .couple__detail.text-right
            p.heading THE BRIDE
            p.couple__desc
                | Hi I am Famico  dolor sit amet consectetur adipisicing elit. Maiores, vitae?
                | Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil laborum accusantium itaque quae, nulla officiis!
                | Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum, minus!
            p.couple__sign - Famico
        .couple__img
            img(src="../images/THE BRIDE.jpg", alt="bride")
